/*Overall*/
html,body{height:100%;font-family:Tahoma,Arial;font-size:14px;line-height:1.4}
body{background:#eeeeee;color:#333333}
*{margin:0;padding:0;border:0}
/*Layout*/
#header{
	background:#ffddee;
	height:50px;
}
.wrap_x{
	height:100%;
	margin:0 auto;
	min-width:920px;
	max-width:1360px;
}
.wrap_y{
	background:#ddeeff;
	min-height:100%;
	margin-bottom:-50px;
}
#empty{
	clear:both;
	height:50px;
}
#footer{
	background:#eeffdd;
	height:50px;
}
	/*2Columns Layout*/
	.container{
		float:right;
		margin-left:-120px;
		width:100%;
	}
	#content{
		background:#ddffee;
		margin-left:120px;
	}
	#content{margin-left:0}
	#sidebar{
		background:#ffeedd;
		height:100px;
		float:left;
		width:100px
	}
/*Elements*/
#mainmenu ul li {
display: block;
float: left;
height: 41px;
margin-right: 20px;
}